# WARNING: Make your GitHub repo Private if you are using this as it is
# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
#*
# You can whitelist files/folders with !, these will not be ignored.

# Ignore these files/folders
.storage
.cloud
.google.token
home-assistant.log
.ssh
secrets.yaml
*.db
*.xml
tts
node-red/**/*
OZW_Log.txt
*.sqlite
*.csr
*.key
*.db
*.db-shm
*.db-wal